{
  "presets": [
    [
      "env",
      {
        "targets": {
          "edge": 12
        },
        "useBuiltIns": "entry"
      }
    ],
    "react"
  ],
  "plugins": [
       "transform-class-properties",
       "transform-object-rest-spread"
   ]
}
