node_modules/
assets/audio/*
assets/bee.png
assets/ape.png
assets/snake.png
assets/plant.png
assets/spider.png
assets/ghost.png
assets/boss.png
assets/rolling_stone.png
assets/L1_amazon.png
assets/scrooge.png
assets/scrooge_hurt.png
assets/items.png
assets/L1_amazon_nomargin - Copy.png
assets/L1_amazon_nomargin.png
assets/Amazon/L1_amazon.png
assets/Amazon/L1_amazon_noextrusion.png
